/* 
#59c0f2 light blue
#000127 Dark dark blue
#206ad9  blue
#00247d Light dark blue
#9e6119 Golden brown
#d18828 Golden tan 
*/
/* Utilities */
p {
margin: 10px 0;
font-size: 18px;
}
h1 {
color: #000127;
}
/*Header*/
.section_header_business{
background-color: #59c0f2 ;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.header_business {
display: flex;
align-items: start;
}
.header_business .box {
flex: 1;
border-radius: 10px;
margin: 20px 10px;
padding: 15px 20px;
text-align: center;
align-items: center;
justify-content: center;
}
.header_business .box:nth-of-type(1) {
flex-grow: 2;
}
.header_business .box:nth-of-type(2) {
flex-grow: 1;
}
.container_buttons_links_header_business {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.container_buttons_links_header_business a:hover {
color: #000127;
}

/*Modelo de Negocio*/
