{% extends "/app/layout_app.html" %}
{% block header_text %}Professional{% endblock %}
{% block content %}
<section class="section_professional_choice">
    <section class="professional_choice">
        <div class="container">
            <div class="choice">
                <div class="box">
                    <a href="{{url_for('spanishflow_app.professional_conversation')}}">
                        <div class="option1">
                            <i class="fa-3x fa-regular fa-comments"></i>
                            <h4 class="text-top2">5/5</h4>
                            <h3 class="text-top1">Conversation</h3>
                        </div>
                    </a>
                </div>
                <div class="box">
                    <a href="{{url_for('spanishflow_app.professional_words')}}">
                        <div class="option2">
                            <i class="fa-3x fa-solid fa-spell-check"></i>
                            <h4 class="text-top2">8/20</h4>
                            <h3 class="text-top1">Words</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="choice">
                <div class="box">
                    <a href="{{url_for('spanishflow_app.professional_phrases')}}">
                        <div class="option3">
                            <i class="fa-3x fa-solid fa-book"></i>
                            <h4 class="text-top2">10/15</h4>
                            <h3 class="text-top1">Phrases</h3>
                        </div>
                    </a>
                </div>
                    <div class="box">
                        <a href="{{url_for('spanishflow_app.professional_test')}}">
                            <div class="option4">
                                <i class="fa-3x fa-solid fa-magnifying-glass"></i>
                                <h3 class="text-top1">Get Quized</h3>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </section>    
</section>
{% endblock content %}