{% extends 'layout.html' %}
{% block content %}
<div class="login-container">
    <h2>Admin Login</h2>
    <form method="POST" action="{{ url_for('admin.admin_home') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }} {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
