{% extends "layout.html" %}
{% block content %}
<section class="section_header_business">
    <div class="container">
        <div class="header_business">
            <div class="box">
                <h1><span class="text-logo">Modelo de Negocio</span></h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores
                    quos asperiores repellendus facilis cum illo aperiam odit doloremque nostrum. 
                    Totam excepturi labore voluptatibus iusto sapiente quisquam consectetur optio 
                    magnam voluptates omnis vel officia alias distinctio quas laborum reiciendis 
                    ratione inventore veniam, cupiditate doloribus dolore, eius natus a. Magni inventore 
                    consequuntur voluptas reprehenderit perferendis! Molestias aspernatur rem autem aut temporibus.
                </p>
                <div class="container_buttons_links_header_business">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2">Paper</a>
                    </div>
                    <div class="btn">
                        <a href="{{url_for('spanishflow_app.spanishflow_app_home')}}" class="btn btn-primary btn-lg mr-2">App</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img
                src="{{url_for('static', filename='items/blue.png')}}"
                />
            </div>
        </div>
    </div>
</section>
<br>
<br>
{% endblock content %}