{% extends "layout.html" %}
{% block content %}
  <!-- Header -->
  <section class="section_header_home">
  <div class="container">
    <div class="header_home">
      <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
        <script>
          setTimeout(function () {
            var flashes = document.querySelectorAll(".alert");
            flashes.forEach((flash) => flash.remove());
          }, 5000);
        </script>
        <h1 style="font-size: 55px"><span class="text-logo"> Home</span></h1>
        <p style="text-align: left">
          La app que desarrollamos busca enseñar español informal a estudiantes, turistas y trabajadores mediante un 
          aprendizaje dinámico que simula situaciones cotidianas, enfocandose en el vocabulario y las expresiones 
          coloquiales más usadas, la app también ofrece experiencias vivenciales como eventos interactivos, talleres 
          y meetups donde los usuarios puedan practicar el idioma en contextos reales, conectando con nativos o 
          compañeros de aprendizaje. Esto fomenta no solo el conocimiento lingüístico, sino también la inmersión 
          cultural, haciendo que el aprendizaje sea más natural y efectivo.
        </p>
        {% if current_user.is_authenticated %} {% else %}
        <div class="container_buttons_links_header_home">
          <div class="btn">
            <a
              href="{{url_for('users.register')}}"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #007bff"
              >Register</a
            >
          </div>
          <div class="btn">
            <a
              href="{{url_for('users.login')}}"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #007bff"
              >Login</a
            >
          </div>
        </div>
        {% endif %}
      </div>
      <div class="box">
        <img
          src="{{url_for('static', filename='icons/home.svg')}}"
          width="325"
          height="325"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

  <!-- Developers -->
  <section class="section_developers_home"> 
    <section class="section_developers">
        <div class="container">
            <div class="Our_team" style="display: block;">
                <h1>Our Team</h1>
                <p>
                        Nuestro equipo de lingüistas, economistas, educadores y programadores….
                    ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, ut?
                    Praesentium quidem sunt perspiciatis doloremque fugiat nesciunt quaerat
                    ullam, pariatur iure unde ratione ipsum adipisci repellendus,
                    repudiandae hic sit, temporibus molestias corrupti aut soluta sequi!
                    Architecto deleniti expedita nisi repudiandae enim eum quas odit facilis
                    placeat neque porro, animi incidunt consectetur. Maiores ab saepe
                    tempora, iure asperiores beatae suscipit cum ipsum, rerum doloremque
                    reprehenderit dolorum debitis, aliquam quasi. Maiores corporis fuga
                    quasi nesciunt dolor iste, inventore necessitatibus unde!
                </p>
            </div>
            <div class="developers">
                <div class="box1">
                    <div class="dev1">
                        <img src="{{url_for('static', filename='icons/fotos/Marga.jpg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                        <h3>Margarida Ferreirinha</h3>
                        <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
                            repellat omnis? Odit enim hic atque dolorem iste natus inventore
                            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
                            officia reiciendis ex architecto voluptates soluta ab tempore facilis
                            quisquam cum.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
                <div class="box1">
                        <div class="dev2">
                            <img src="{{url_for('static', filename='icons/fotos/Fede.jpg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                            <h3>Federico Cantero</h3>
                            <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
                                repellat omnis? Odit enim hic atque dolorem iste natus inventore
                                perspiciatis vitae dolore animi veritatis aut nemo unde similique,
                                officia reiciendis ex architecto voluptates soluta ab tempore facilis
                                quisquam cum.
                            </p>
                            <div class="curriculums_buttons">
                                <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                            </div>
                        </div>
                </div>
                <div class="box1">
                    <div class="dev3">
                        <img src="{{url_for('static', filename='icons/fotos/Santi.jpg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                        <h3>Santiago Casteñeda</h3>
                        <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
                            repellat omnis? Odit enim hic atque dolorem iste natus inventore
                            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
                            officia reiciendis ex architecto voluptates soluta ab tempore facilis
                            quisquam cum.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
            </div>
            </div>
            <div class="developers">
                <div class="box2">
                    <div class="dev4">
                        <img src="{{url_for('static', filename='icons/fotos/Ana.jpg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                        <h3>Ana Paula Amores</h3>
                        <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
                            repellat omnis? Odit enim hic atque dolorem iste natus inventore
                            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
                            officia reiciendis ex architecto voluptates soluta ab tempore facilis
                            quisquam cum.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <div class="dev5">
                        <img src="https://randomuser.me/api/portraits/women/1.jpg" style="border-radius: 50%; width: 200px">
                        <h3>Eramus 1</h3>
                        <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
                            repellat omnis? Odit enim hic atque dolorem iste natus inventore
                            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
                            officia reiciendis ex architecto voluptates soluta ab tempore facilis
                            quisquam cum.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <div class="dev6">
                        <img src="https://randomuser.me/api/portraits/women/12.jpg" style="border-radius: 50%; width: 200px">
                        <h3>Erasmus 2</h3>
                        <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
                            repellat omnis? Odit enim hic atque dolorem iste natus inventore
                            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
                            officia reiciendis ex architecto voluptates soluta ab tempore facilis
                            quisquam cum.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="developers">
                <div class="box3"></div>
                <div class="box3">
                    <div class="dev7">
                        <img src="https://randomuser.me/api/portraits/men/8.jpg" style="border-radius: 50%; width: 200px">
                        <h3>Erasmus 3</h3>
                        <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
                            repellat omnis? Odit enim hic atque dolorem iste natus inventore
                            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
                            officia reiciendis ex architecto voluptates soluta ab tempore facilis
                            quisquam cum.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
                <div class="box3"></div>
            </div>
        </div>
    </section>
</section>

{% endblock content %}

