{% extends "layout.html" %}
{% block content %}
  <!-- Header -->
  <section class="section_header_home">
  <div class="container">
    <div class="header_home">
      <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
        <script>
          setTimeout(function () {
            var flashes = document.querySelectorAll(".alert");
            flashes.forEach((flash) => flash.remove());
          }, 5000);
        </script>
        <h1 style="font-size: 55px"><span class="text-logo"> Home</span></h1>
        <p style="text-align: left">
          La app que desarrollamos busca enseñar español informal a estudiantes, turistas y trabajadores mediante un 
          aprendizaje dinámico que simula situaciones cotidianas, enfocandose en el vocabulario y las expresiones 
          coloquiales más usadas, la app también ofrece experiencias vivenciales como eventos interactivos, talleres 
          y meetups donde los usuarios puedan practicar el idioma en contextos reales, conectando con nativos o 
          compañeros de aprendizaje. Esto fomenta no solo el conocimiento lingüístico, sino también la inmersión 
          cultural, haciendo que el aprendizaje sea más natural y efectivo.
        </p>
        {% if current_user.is_authenticated %} {% else %}
        <div class="container_buttons_links_header_home">
          <div class="btn">
            <a
              href="{{url_for('users.register')}}"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #007bff"
              >Register</a
            >
          </div>
          <div class="btn">
            <a
              href="{{url_for('users.login')}}"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #007bff"
              >Login</a
            >
          </div>
        </div>
        {% endif %}
      </div>
      <div class="box">
        <img
          src="{{url_for('static', filename='icons/home.svg')}}"
          width="325"
          height="325"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

  <!-- Developers -->
  <section class="section_developers_home"> 
    <section class="section_developers">
        <div class="container">
            <div class="Our_team" style="display: block;">
                <h1>Our Team</h1>
                <p>
                  Somos un grupo multicultural con un interés en común, empreender. Juntos, combinamos nuestras diversas perspectivas y experiencias para aprender y innovar.
                </p>
            </div>
            <div class="developers">
                <div class="box1">
                    <div class="dev1">
                        <img src="{{url_for('static', filename='icons/fotos/marga.jpeg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                        <h3>Margarida Ferreirinha</h3>
                        <p>
                            Portuguesa de 22 años, Actualmente, estudio Gestión de Pequeñas y Medianas Empresas en Salamanca, enfocándome en el desarrollo de habilidades empresariales para el futuro. Entusiasta por aprender y crecer en el ámbito de los negocios.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="https://www.linkedin.com/in/margarida-abreu-17a373171/" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
                <div class="box1">
                        <div class="dev2">
                            <img src="{{url_for('static', filename='icons/fotos/Fede.jpg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                            <h3>Federico Cantero</h3>
                            <p>
                                Soy Paraguayo, de 22 años, que está realizando estudios en la Universidad de Salamanca sobre la Gestión de Pequeñas y Medianas Empresas para así volver mejor preparado a mi país y emprender en varios rubros.
                            </p>
                            <div class="curriculums_buttons">
                                <a class="btn_dev" href="www.linkedin.com/in/federico-manuel-cantero-ruiz-diaz-0706b4315" target="_blank">LinkedIn</a>
                            </div>
                        </div>
                </div>
                <div class="box1">
                    <div class="dev3">
                        <img src="{{url_for('static', filename='icons/fotos/Santi.jpg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                        <h3>Santiago Casteñeda</h3>
                        <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia
                            repellat omnis? Odit enim hic atque dolorem iste natus inventore
                            perspiciatis vitae dolore animi veritatis aut nemo unde similique,
                            officia reiciendis ex architecto voluptates soluta ab tempore facilis
                            quisquam cum.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
            </div>
            </div>
            <div class="developers">
                <div class="box2">
                    <div class="dev4">
                        <img src="{{url_for('static', filename='icons/fotos/ana.jpeg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                        <h3>Ana Paula Amores</h3>
                        <p>
                            24 años y nacida en Ecuador, es graduada en Marketing y Publicidad. Actualmente estudia el grado en Pequeñas y Medianas Empresas (PYMES) en la Universidad de Salamanca, enfocándose en la gestión y desarrollo de proyectos empresariales.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <div class="dev5">
                        <img src="{{url_for('static', filename='icons/fotos/era1.jpeg')}}" style="border-radius: 50%; width: 200px; height: 200px;">
                        <h3>Soracha Mary Lee</h3>
                        <p>
                            Hola, estoy de erasmus en la universidad de salamanca por el próximo curso académico. Acabo de cumplir 21 años.  Soy irlandesa y en Dublín, estudio el comercio y español.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
                <div class="box2">
                    <div class="dev6">
                        <img src="{{url_for('static', filename='icons/fotos/era2.jpeg')}}" style="border-radius: 50%; width: 200px">
                        <h3>Anna Neary</h3>
                        <p>
                            Soy un estudiante irlandés altamente motivado que estudia Comercio Internacional en University College Dublin. Actualmente estoy en mi año Erasmus en Salamanca, España. Aquí asisto a cursos avanzados de negocios y economía en español junto a hablantes nativos, en la prestigiosa Universidad de Salamanca.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="developers">
                <div class="box3"></div>
                <div class="box3">
                    <div class="dev7">
                        <img src="{{url_for('static', filename='icons/fotos/era3.jpeg')}}" style="border-radius: 50%; width: 200px">
                        <h3>Aoife Temple</h3>
                        <p>
                            Soy un estudiante de Erasmus. Tengo 20 años y soy de Irlanda.  Vivo en Dublín y asisto a UCD donde estoy estudiando el grado en comercio internacional.
                        </p>
                        <div class="curriculums_buttons">
                            <a class="btn_dev" href="#" target="_blank">Curriculums</a>
                        </div>
                    </div>
                </div>
                <div class="box3"></div>
            </div>
        </div>
    </section>
</section>

{% endblock content %}
